.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgray;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

.card-container {
  margin: 20px;
  width: 300px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2.5px 5px grey;
  background-color: whitesmoke;
}

.add-to-cart-btn {
  display: block;
  width: 100%;
  cursor: pointer;
}

.price {
  font-weight: 600;
  font-size: medium;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 10px;
}

.card-img {
  border: 2px solid black;
  border-radius: 8px;
  width: 50%;
  max-height: 210px;
}
