.title {
  width: 100%;
  text-align: center;
}

::ng-deep.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: none !important;
  width: 500px;
}

th,
td {
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price {
  margin: 10px;
  padding: 0 !important;
}

.checkout {
  margin: 10px;
}
