<mat-toolbar color="primary" class="toolbar-container">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    [routerLink]="['/']"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <span>Fake Store</span>
  <!-- <span class="example-spacer"></span> -->
  <button [routerLink]="['cart']" mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
